<li class="selectable" data-notice-id="{{ id }}">
    <a href="#">
        <strong class="text bold">{{ subject }}</strong>
        <div class="text tiny align_justify">{{ description }}</div>
    </a>
</li>
