<header data-back="chevron-left" data-title="{{ title }}">
    <nav class="on-right">
        <button data-icon="cog" data-view-section="settings"></button>
    </nav>
</header>
<article class="list indented">
    {{ description }}
</article>
