<section id="inquiries" data-transition="slide">
    <header data-back="chevron-left" data-title="Inquiries">
        <nav class="on-right">
            <button data-icon="cog" data-view-section="settings"
                    data-async="templates/settings/index.html"></button>
        </nav>
    </header>
    <article id="inquiries_home" class="list indented">
        <div class="grid">
            <div class="option">
                <a href="#" data-view-section="send_inquiry" data-async="templates/inquiries/send_inquiry.html">
                    <div class="icon envelope"></div>
                    <p class="text thin">Send Inquiry</p>
                </a>
            </div>
            <div class="option">
                <a href="#" data-view-section="my_inquiries" data-async="templates/inquiries/my_inquiries.html">
                    <div class="icon user"></div>
                    <p class="text thin">My Inquries</p>
                </a>
            </div>
        </div>
    </article>
</section>
