<section id="my_inquiries" data-transition="slide">
    <header data-back="chevron-left" data-title="My Inquiries">
        <nav class="on-right">
            <button data-icon="cog" data-view-section="settings"
                    data-async="templates/settings/index.html"></button>
        </nav>
    </header>
    <article class="indented scroll">
        <div class="empty">
            <span class="icon user"></span>
            <strong>No inquiries</strong>
            <small>You still did not submit any inquiry</small>
        </div>
    </article>
</section>
