
div.grid {
    overflow: hidden;
}

div.grid > div.option {
    width: 50%;
    margin: 2em 0px;
    padding: 0;
    border: 0;
    float: left;
    min-height: 1px;
    text-align: center;
}
div.grid > div.option > a > .icon {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: auto;
    font-size: 4em;
    background: #F5B253;
    border-radius: 1em;
}
